* {
    margin: 0;
	padding: 0;
	border: 0;
}

section {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    //text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    border-right: 2px solid gray;
    margin: 10px 30px 10px 0px;
    padding-right: 30px;

}

.result {
    margin: 10px 30px 10px 0px;
    padding-right: 30px;
}

p {
    margin-bottom: 10px;
}

input {
    border: 1px solid black;
    padding-left: 5px;
}



.main-container {
    display: flex;
    justify-content: center;
    //outline: 1px solid red;
}

button {
    background-color: black;
    color: white;
    padding: 3px 25px;
    border-radius: 7px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
}